<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System Preference - Muddler</title>
    <link rel="stylesheet" href="/css/muddler.css">
</head>
<body>
<h1>System Preference</h1>
<ul>
    <li><a href="/system/database">edit Database Connections(JDBC)</a></li>
    <li><a href="/system/scriptList">edit SQL Scripts</a></li>
    <li>run SQL Scripts
        <ul>
            <% scriptList.each {scriptPath -> %>
            <li>
                <a href="/md/${scriptPath}">${scriptPath}</a>
            </li>
            <% } %>
        </ul>
    </li>
</ul>


</body>
</html>